<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="DistributeLib.Distribute">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/Distribute" />
          </baseAddresses>
        </host>

        <endpoint
          address=""
          behaviorConfiguration="WebBehaviour"
          binding="webHttpBinding"
          name="RESTDistribute"
          contract="DistributeLib.IDistributeService"
          kind="webHttpEndpoint" />

        <endpoint
          address="/test"
          name="ws"
          binding="wsHttpBinding"
          contract="DistributeLib.IDistributeService" />

        <endpoint
          address="mex"
          behaviorConfiguration="SoapBehaviour"
          binding="mexHttpBinding"
          name="MEX"
          contract="IMetadataExchange" />
        
        
      </service>
    </services>
    <behaviors>
      
      <endpointBehaviors>  
        <behavior name="WebBehaviour">
          <webHttp helpEnabled="true" />
        </behavior>
        
        <behavior name="SoapBehaviour">
          
        </behavior>
        
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
    </standardEndpoints>
    
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>