<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ComTestPath" value="c:\program files\ComTest\"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>  
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760">
          <readerQuotas maxArrayLength="2147483647" />
        </binding>
        <binding name="LargeBasicHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      
      <webHttpBinding>
        <binding name="LargeWebHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>

    </bindings>
    
    <behaviors>
      <serviceBehaviors>
    
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
      </serviceBehaviors>


      <endpointBehaviors>
        <behavior name="webby">
          <webHttp helpEnabled="true" />
          
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>
      
      <!--Service Configuration!-->
      <service name="ComTestWCFService.AlarmStatus.ComTestManagement">  
        <!--Service Endpoints!-->
        <endpoint address="" binding="webHttpBinding" 
                  behaviorConfiguration="webby"
                  bindingConfiguration="LargeBasicHttpBinding" contract="ComTestWCFService.AlarmStatus.IComTestManagement"  />
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/ComTestManagement/" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
